<header class="app-header flex">
    <h1 routerLink="/" class="logo">BitApp</h1>

    <nav class="flex">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa-regular fa-address-card"></i> My Card
        </a>
        
        <a routerLink="/contact" routerLinkActive="active">
            <i class="fa-regular fa-address-book"></i> Contacts
        </a>

        <a routerLink="/transfers" routerLinkActive="active">
            <i class="fa-solid fa-handshake"></i> Transfers
        </a>

        <a routerLink="/stats" routerLinkActive="active">
            <i class="fa-solid fa-chart-simple"></i> Stats
        </a>

        <button (click)="onLogout()" title="Logout" class="logout-btn"><i
                class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i>
        </button>
    </nav>
</header>