.transfers-container {
    background-color: #00415a;
    min-height: 100vh;
    padding: 1rem;

    .transfer-preview {
        position: relative;

        .info {
            background-color: #fff;
            border: 2px solid #00719c;
            border-radius: 0.5rem;
            align-items: center;
            padding: 0.25rem 0.75rem;
            margin-block: 0.313rem;
            height: 4.375rem;

            img {
                width: 3.125rem;
                margin-inline-end: 0.75rem;
            }

            .calendar {
                color: #00719c;
                i {
                    margin-inline-end: .5em;
                }
            }

            .arrow,
            .hands {
                color: #00415a;
            }

            .item {
                margin-inline: .3em;
            }
        }
    }
}