.user-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 50vh;

    text-align: center;
    background-color: lightblue;
    padding: 1em;

    img {
        height: 50%;
        margin-block-end: 1em;
    }

    p {
        font-size: 1.2em;
        &:not(:last-child) {
            margin-block-end: .8em;
        }
    }
}