<div *ngIf="contact$|async as contact" class="contact-details">
    <app-profile-header [title]="title"></app-profile-header>
    <div class="relative-container">
        <div class="card">
            <div class="home-layout">
                <div class="user flex left">
                    <img src="https://robohash.org/{{contact._id}}?set=set5" alt="Contact profile picture">
                    <h1 class="name">{{contact.name}}</h1>
                    <h1 class="age">{{contact.age}} years old</h1>
                </div>

                <div class="info flex right">
                    <h1 class="user-detail flex"><i class="fa-solid fa-house-chimney icon"></i> {{contact.address}}</h1>
                    <h1 class="user-detail flex"><i class="fa-solid fa-phone icon"></i> {{contact.phone}}</h1>
                    <h1 class="user-detail flex"><i class="fa-solid fa-at icon"></i> {{contact.email}}</h1>
                </div>
                <div class="actions">
                    <button [routerLink]="['/contact/edit', contact._id]" class="edit-btn" title="Edit this contact">
                        <i class="fa-solid fa-user-pen"></i>
                    </button>

                    <div class="transfer-section">
                        <button *ngIf="!transferAmount" (click)="transferAmount = 1" class="transfer-money-btn"
                            title="Transfer money">
                            <i class="fa-solid fa-money-bill-transfer"></i>
                        </button>
                        <div class="input-container">
                            <input *ngIf="transferAmount" type="number" class="transfer-input"
                                [(ngModel)]="transferAmount" placeholder="Enter amount">
                            <i *ngIf="transferAmount" class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <button *ngIf="transferAmount" (click)="moveCoins()" class="transfer-btn">
                            <i title="Send money" class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>