.contact-preview {
    position: relative;
    cursor: pointer;

    .info {
        background-color: #fff;
        border: 2px solid #00719c;
        border-radius: 0.5rem;
        align-items: center;
        padding: 0.25rem 0.75rem;
        margin-block: 0.313rem;
        height: 4.375rem;

        img {
            width: 3.125rem;
            margin-inline-end: 0.75rem;
        }
    }

    .hidden-btns {
        position: absolute;
        right: -10px;
        display: flex;
        gap: 10px;
        color: #001f2b;
        opacity: 0;
        transition-duration: 0.3s;
        transition-property: right, opacity;

        .remove-btn {
            width: 2em;
            height: 2em;
            background-color: inherit;
            border-radius: 100%;
            border: 1px solid #001f2b;
            transition: 0.15s;
            cursor: pointer;
            
            &:hover {
                background-color: orangered;
                border: none;
                color: white;
            }
        }

        .edit-btn {
            width: 2em;
            height: 2em;
            background-color: inherit;
            border-radius: 100%;
            border: 1px solid #001f2b;
            transition: 0.15s;
            cursor: pointer;
            &:hover {
                background-color: #001f2b;
                color: white;
            }
        }

    }

    &:hover {
        .hidden-btns {
            opacity: 1;
            right: 10px;
        }

    }
}