.container {
    padding-inline: 10vw;
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.main-layout {
    display: grid;
    grid-template-columns: rem(220px) 1fr;

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
    }

    >*.nav {
        grid-column: 1;
    }
}

.card-layout {
    display: grid;
    grid-template-columns: 60px 1fr 60px;

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
    }
}

.home-layout {
    display: grid;
    grid-template-columns: .7fr 1fr;

    .left {
        grid-column: 1;
    }

    .right {
        grid-column: 2;
    }
}

.contacts-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    grid-gap: em(32px);
}