.container {
    padding-inline: 10vw;
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(64px, 1fr) 1fr minmax(64px, 1fr);

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
    }
}

.card-layout {
    display: grid;
    grid-template-columns: 60px 1fr 60px;

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
    }
}