.contacts-container {
    background-color: #00415a;
    min-height: 100vh;
    padding: 1rem;

    .contact {
        padding: 45px;
    }

    .add-btn {
        position: fixed;
        bottom: 35px;
        right: 35px;

        width: 4em;
        height: 4em;
        border: 1px solid #001f2b;
        border-radius: 50%;
        transition: .4s;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        &:hover {
            width: 5em;
            height: 5em;
        }
    }
}